.row {
  font-family: 'Source Sans pro', Arial, sans;
  font-size: 24px;
  border: 0px;
  border-bottom: 1px solid #d067dd;
  width: 100%;
  display: block;
  padding: 0.5em 0 0.5em;
  cursor: text;

  &-form {
    margin: 0;
    padding: 0;
    width: 80%;
  }

  &-input {
    @extend .row;
    overflow: hidden;
    resize: none;

    &-done {
      text-decoration: line-through;
    }

    &:focus {
      outline: none;
    }
  }

  &-text {
    @extend .row;
    width: 80%;
    overflow: hidden;

    &-done {
      text-decoration: line-through;
    }
  }

  &-wrap {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 0.5em 0 0.5em;

    &-dragged {
      position: absolute;
      opacity: 0.5;
      width: 70vw;
    }
  }

  &-button {
    cursor: pointer;
    border: 0;
    background: none;
    &:focus {
      outline: none;
    }
  }
}