.button {
  border: none;
  padding: 15px;
  cursor: pointer;

  &-purple {
    background-color: #d067dd;
  }

  &-white {
    background-color: #ffffff;
  }

  &-transparent {
    background: none;
  }

  &:focus {
    outline: none;
  }
}